.card{
  width: 25rem;
  height: auto;
  background-color: white;
  border-radius: .2rem;
  padding: 2.4rem;
  box-shadow: 2rem 1rem 1rem rgba(22, 23, 29, 0.2);

}

@font-face {
  font-family: Cubano;
  src: url(../../../../fonts/cubano/cubano.woff);
}


.title{
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Cubano;
  color: #214557;
}

.line{
  width: 2rem;
  height: .2rem;
  background-color: #FEC74F;
}

.content{
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  line-height: 1.8rem;

}

.content h3{
  font-size: 2.4rem;
  padding-right: 1rem;
  font-family: Cubano;
  color: #214557;
}  

.content:last-child{
  padding-bottom: 3rem;
}

.buttons{
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}
