.subtitle{
    font-family: Cubano, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #002A3F;
}

.subtitle::after{
    content: "";
    display: block;
    width: 4.2rem;
    margin: 1rem auto;
    height: 0.2rem;
    margin-top: 1rem;
    background-color: #FEC74F;
}

.dashboard_upcoming{
    background-color: white;
    border-radius: 0.3rem;
    padding: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.dasboard_upcoming_title{
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #002A3F;
    font-weight: 600;

}

.dasboard_upcoming__destination{
    font-family: Cubano;
    font-size: 3.5rem;
    color: #FEC74F;
    font-weight: 600;
}

.dasboard_upcoming__countdown_container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #FEC74F;
}

.dasboard_upcoming__countdown_days{
    margin-right: 1.5rem;
}

.dasboard_upcoming__countdown_container>p {
    font-size: 3.5rem;
    font-family: Cubano;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
}

.dasboard_upcoming__countdown_container>p+p{
    margin-left: 2rem;
}

.countdown__secondary{
    font-size: 1.5rem;
    color: #002A3F;
    margin-left: 0.5rem;
}

