.container{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    font-family: Avenir;
}

.tripName{
    font-family: Cubano;
    font-size: 5rem;
    color: #002A3F;
    margin-top: 2.5rem;
}

.subtitle{
    font-family: Cubano;
    font-size: 3rem;
    color: #002A3F;
}

.subtitle::after{
    content: "";
    display: block;
    width: 4.2rem;
    height: 0.3rem;
    margin-top: 1rem;
    background-color: #FEC74F;
}

.header{
    margin-top: 5rem;
}