.button {
  font-size: 1.8rem;
  border: none;
  border-radius: .3rem;
  width: 35rem;
  background-color: #FEC74F;
  padding: 1rem;
  font-family: Cubano, Arial, Helvetica, sans-serif;
  color: #214557;
  z-index: 3;
  cursor: pointer;
}

