.detailContainer p{
    font-family: Cubano;
    color: #002A3F;
}

.subtitle{
    font-family: Cubano;
    font-size: 3rem;
    color: #002A3F;
}

.title__hidden{
    display: none;
}

.name{
    font-size: 5rem;
    margin-top: 3rem;
}

.name+p{
    font-size: 2rem;
    color: #FEC74F;
}

.coordinates::after{
    content: "";
    display: block;
    width: 4.2rem;
    margin: 1rem 0;
    height: 0.3rem;
    margin-top: 1rem;
    background-color: #002A3F;
}

.locationImage{
    display: block;
    overflow: hidden;
    border-radius: 0.3rem;
    margin-top: 2.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.locationSpecContainer{
    display: flex;
}

.locationSpecContainer>img{
    width: 5rem;
    margin-right: 2rem;
}

.locationSpecTitle{
    font-size: 1.7rem;
}

.locationSpecTitle+p{
    font-size: 2.5rem;
    color: #FEC74F;
}

.link_create{
    color: #002A3F;
    background-color: #FEC74F;
    font-family: Cubano;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    margin-top: 2rem;
    font-size: 2.2rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
}

.link_create:hover{
    background-color: #ffbf34;
}

.link_create>img{
    color: white;
    margin-right: 1rem;
    transition: all 0.3s;
}

.link_create:hover>img{
    margin-right: 0;
}
