.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.label,.input{
  font-family: Cubano, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #002A3F;
}

.label{
  display: block;
  opacity: 0.8;
  margin-bottom: 0.3rem;
}

.input{
  border: none;
  border-radius: .3rem;
  box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  width: 100%;
  font-size: 2.3rem;
  text-align: center;
}
