@value tokens: "./tokens.module.css";
@value fontSizeLarge, fontSizeMedium, background, spacer1 from tokens;

@font-face {
  font-family: Cubano;
  src: url(../../fonts/cubano/cubano.woff), url(../../fonts/cubano/cubano.woff2);
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/avenir.woff), url(../fonts/avenir/avenir.woff2);
}
