.container {
  max-width: 120rem;
  margin: auto;
  position: relative;
}

.usp__list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.usp__list__items {
  display: flex;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.usp__list__item {
  color: #FEC74F;
  font-size: 1.8rem;
  font-weight: bold;
}

.usp__list__item__number {
  font-size: 2.5rem;
}

.usp__list__item__number__selected {
  color: #FEC74F;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: -2rem;
}

.line {
  height: .2rem;
  width: 6rem;
  background-color: white;
}
