.container {
  max-width: 120rem;
  margin: auto;
  position: ;
}

.usp__list__items {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.usp__list__item {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.usp__list__item__number {
  font-size: 2.5rem;
}

.usp__list__item__number__selected {
  color: #FEC74F;
}

.arrow {
  position: absolute;
  right: 5vw;
  bottom: 8rem;
}

.line {
  height: .2rem;
  width: 5rem;
  background-color: #FEC74F;
}

.part {
  color: white;
}

@media only screen and (max-width: 1240px) { 
  .usp__list {
    margin-left: 5rem;
  }

  .arrow {
    position: block;
    right: 0;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 1840px) { 
  .arrow{
    right: 14vw;
  }
}

@media only screen and (max-width: 1640px) { 
  .arrow{
    right: 12vw;
  }
}

@media only screen and (max-width: 1540px) { 
  .arrow{
    right: 10vw;
  }
}

@media only screen and (max-width: 1440px) { 
  .arrow {
    right: 7vw;
  }
}

@media only screen and (max-width: 1370px) { 
  .arrow {
    right: 7vw;
  }
}

@media only screen and (max-width: 1240px) { 
  .arrow {
    right: 0;
  }
}

@media only screen and (max-width: 900px) { 
  .usp__list {
    margin-top: -12rem;
  }
}