.container{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    font-family: Avenir;
}

.title__hidden{
    display: none;
}

.welcome_back{
    font-family: Cubano;
    font-size: 2.5rem;
    color: #002A3F;
    margin-top: 6rem;
}

.ready{
    font-family: Cubano;
    font-size: 5rem;
    color: #FEC74F;
}

.span__yellow{
    color: #FEC74F;
}

.dashboard_description{
    color: #002A3F;
    margin-top: 1.5rem;
    font-weight: 600;
}

.subtitle{
    font-family: Cubano;
    font-size: 3rem;
    color: #002A3F;
}

.subtitle::after{
    content: "";
    display: block;
    width: 4.2rem;
    height: 0.2rem;
    margin-top: 1rem;
    background-color: #FEC74F;
}

.log_container{
    margin-top: 4rem;
}

.tripLocation{
    color: #FEC74F;
}


.log__categorie_names{
    display: grid;
    grid-template: 1fr / 2fr 1fr 1fr 1fr 1fr;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.log__categorie_names>p{
    font-family: Cubano;
    font-size: 1.1rem;
    color: #002A3F;
}


.tripLogContainer>div{
    margin-bottom: 2.5rem;
}

.tripsContainer{
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    grid-gap: 4rem;
    height: 100%;
}
