.button {
  font-size: 1.8rem;
  border-radius: .3rem;
  width: 23rem;
  padding: 1rem;
  font-family: Cubano, Arial, Helvetica, sans-serif;
  color: white;
  z-index: 3;
  cursor: pointer;
  background-color: rgba(33, 69, 87, .75);
  border: white solid .2rem;
  height: 5rem;
}

