.container {
  background-color: #002A3F;
  border-radius: .3rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5rem 2.5rem;
}

.title {
  font-size: 3rem;
  margin: 1rem 0 1.5rem;
  width: 35rem;
}

.line {
  height: .2rem;
  width: 5rem;
  background-color: #FEC74F;
  margin-bottom: 1.5rem;
}

.text {
  margin-bottom: 1.5rem;
}