.formContainer{
  display: flex;
  flex-direction: column;
}

.login{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.2rem;
  letter-spacing: .1rem;
  font-family: Cubano, Arial, Helvetica, sans-serif;
  color: #214557;
  width: 57.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.line {
  height: .2rem;
  width: 4.5rem;
  background-color: #FEC74F;
  margin-bottom: 1rem;
}

.label{
  color: #214557;
  padding-bottom: 1rem;
  padding-top: 2rem;
}


.input{
  padding: .5rem;
  background-color: #eeeeee;
  border: none;
  border-radius: .2rem;
}

.check{
  margin-top: 2rem;
}

.button{
  padding: 1rem;
  background-color: #FEC74F;
  margin-top: 2rem;
  border: none;
  font-family: Cubano, Arial, Helvetica, sans-serif;
  color: #214557;
  font-size: 1.6rem;

}