.container{
  max-width: 108rem;
  margin: auto;
  height: auto;
  z-index: 1;
}

.cards {
  padding-top: 17vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (min-width: 1640px) { 
  .cards {
    padding-top: 25vh;
  }
}

@media only screen and (min-width: 1440px) { 
  .cards {
    padding-top: 20vh;
  }
}

