.container{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}

.title__hidden{
    display: none;
}

.welcome_back{
    font-family: Cubano;
    font-size: 2.5rem;
    color: #002A3F;
    margin-top: 5rem;
}

.welcome_back__name{
   color: #FEC74F;
}

.ready{
    font-family: Cubano;
    font-size: 5rem;
    color: #002A3F;
}

.span__yellow{
    color: #FEC74F;
}

.dashboard_description{
    color: #002A3F;
    margin-top: 1.5rem;
    font-weight: 600;
}

.dashboard_description::after{
    content: "";
    display: block;
    width: 4.2rem;
    height: 0.2rem;
    margin-top: 1rem;
    background-color: #FEC74F;
}


.dashboard_content__container{
    display: grid;
    grid-template: 5rem 1fr 2fr / 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding-top: 3rem;
    height: 73vh;
}

.dashboard_content__container>section{
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
}

.cardTripOptions{
    grid-row: 2 / span 2; 
}

.cardTripOptions>div{
    height: 100%;
}

.dashboard_featured .subtitle::after{
    background-color: white;
}

.dashboard_featured .subtitle::after, .dashboard_upcoming .subtitle::after{
    margin: 1rem auto;
}




