.container{
    padding-left: 4rem;
    width: 100%;
    height: 100vh;
}

.title__hidden{
    display: none;
}

.welcome_back{
    font-family: Cubano;
    font-size: 2.5rem;
    color: #002A3F;
    margin-top: 6rem;
}

.welcome_back__name{
   color: #FEC74F;
}

.ready{
    font-family: Cubano;
    font-size: 5rem;
    color: #002A3F;
}

.span__yellow{
    color: #FEC74F;
}

.dashboard_description{
    color: #002A3F;
    margin-top: 1.5rem;
}

.dashboard_description::after{
    content: "";
    display: block;
    width: 4.2rem;
    height: 0.3rem;
    margin-top: 1rem;
    background-color: #FEC74F;
}


.dashboard_content__container{
    display: grid;
    grid-template: 7rem 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 5rem;
    padding-top: 3rem;
    height: 79vh;
}

.dashboard_content__container>section{
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
}




.dashboard_log{
    grid-row: 2 / span 2;
    background-color: white;
    border-radius: 0.3rem;
    padding: 3rem;
}

.dashboard_featured{
    grid-column: 3;
    grid-row: 1 / span 3;
    text-align: center;
    background-color: #FEC74F;
    border-radius: 0.3rem;
    padding: 3rem;
}

.dashboard_featured .subtitle::after{
    background-color: white;
}

.dashboard_featured .subtitle::after, .dashboard_upcoming .subtitle::after, .dashboard_ready .subtitle::after{
    margin: 1rem auto;
}

.dashboard_ready{
    text-align: center;
    background-color: #002A3F;
    border-radius: 0.3rem;
    padding: 3rem;
}

.dashboard_ready .subtitle{
    color: white;

}


