@import "./styles/reset.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.invisible__button {
  border: none;
  background: none;
  width: 100%;
  font: inherit;
  text-align: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Cubano;
  src: url(./fonts/cubano/cubano.woff), url(./fonts/cubano/cubano.woff2);
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/avenir/avenir.woff), url(./fonts/avenir/avenir.woff2);
}


a {
  text-decoration: none;
}

p{
  font-size: 1.6rem;
  font-family: Avenir;
  opacity: 0.8;
}

h1,h2,h3,h4{
  font-family: Cubano;

}

