.login{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.2rem;
  letter-spacing: .1rem;
  font-family: Cubano, Arial, Helvetica, sans-serif;
  color: white;
  width: 57.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.line {
  height: .2rem;
  width: 4.5rem;
  background-color: #FEC74F;
  margin-bottom: 1rem;
}

.button {
  width: 35rem;
}

.name {
  display: flex;
  justify-content: space-between;
}

.terms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: white;
}

.check {
  margin-top: -.05rem;
  margin-right: 1rem;
  background: rgba(57, 58, 58, 0.1);;
}

.text {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}