.nav {
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.nav__item {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  color: white;
  align-items: center;
  line-height: 2.5rem;
  letter-spacing: .05rem;
}

.nav__item__links {
  display: flex;
  /*margin-top: .8rem;*/
}

.nav__item__link {
  margin-right: 5rem;
  color: white;
}

.nav__item__link__selected {
  font-family: AvenirBlack, Arial, Helvetica, sans-serif;
}

.signin {
  z-index: 1;
  font-family: AvenirBlack, Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.signin__or {
  margin: 0 2rem
}

