.selectTripButton{
  margin-right: 4rem;
  border: none;
  background: none;
  font-family: Cubano, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  color: #002A3F;
}

.selectTripButton:hover{
  cursor: pointer;
  color: #012030;
}

.selectTripButton>img{
  margin-left: 1rem;
  transition: all 0.2s;
  width: 2rem;
  transform: scaleX(-1);
  position: relative;
}

.selectTripButton:hover>img{
  margin-left: 0rem;
}